/* GENERAL */

*
{
    margin: O;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif, serif;
    font-size: 15px;
}

h1
{
    font-family: Merriweather, serif;
    font-size: 45px;
    color: #444;
}

ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.orange{
    color: #FF7A00;
}

/* HEADER */
header
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    display: inline-block;
    float: left;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* Main Image */

#main-image
{
    height: 580px;
    background: url("main.jpg") center;
}
